body {
  /* margin: 20px auto; */
  margin: auto;
  /* margin-top: 10px; */
  /* width: 70%; */
  text-align: center; 
  background-color: #F2E5D5;  /* ebe4ce */
}

nav ul, footer ul {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
  text-align: center;
  
}
nav ul li, footer ul li {
  display: inline-block;
  text-align: center;  
}

.bg-img {
/* The image used */
background-image: url("Adam.jpeg");
max-height: 80px;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;

/* Needed to position the navbar */
position: relative;
}

.topnav {
overflow: hidden;
font-family:'Helvetica', 'Arial', 'Sans-Serif';
font-size: 3em;
padding: 0px;
list-style: none;
font-weight: bold;
display: inline-block;
text-align: center;  
width: 100%;
}

a {
  text-decoration: none;
  color: #B27846; /*45583f */
  text-shadow: 2px 2px 4px #ffffff;

  font-size: 1.5em;
  text-align: center;  

  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: 550;
}

/*a:hover {
  text-decoration: underline;
}*/

b {
margin-top:500px;
background: white;
color: black;
}


h1 {
  font-size: 1.5em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  max-width: 70%;
  display: inline-block;
  font-weight: 200;
  margin-bottom: -20px;
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

ul.posts { 
  margin: 20px auto 40px; 
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.button1 {
  background-color: #f44136; 
}

.button2 {
  background-color: #ea1d63; 
}

.button3 {
  background-color: #9d28b1; 
}

.button4 {
  background-color: #683ab7; 
}

.button5 {
  background-color: #3f51b5; 
}

.button6 {
  background-color: #2197f3; 
}

.button7 {
  background-color: #00bcd5; 
}

.button8 {
  background-color: #009888; 
}

.button9 {
  background-color: #4bb14f; 
}

.button10 {
  background-color: #8cc24b; 
}

.button11 {
  background-color: #cddc39; 
}

.button12 {
  background-color: #ffeb3d; 
}

.button13 {
  background-color: #fec009; 
}
 
.button14 {
  background-color: #ff9800; 
}

.button15 {
  background-color: #795647; 
}

.button16 {
  background-color: #9e9e9e; 
}

.button17 {
  background-color: #ffffff;
  border: 2px solid #000000;
  height: 68px;
  width: 60px;
}

.button17:hover{
  box-shadow:none;
}

#help {
  background-color: #F09819;
  border: none;
  color: white;
  padding: 4px 4px;
  text-align:center;
  text-decoration: none;
  left: 10px;
  font-size: 16px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  margin-top: 10px;
}

#home {
  background-color: #F09819;
  border: none;
  color: white;
  padding: 4px 4px;
  text-align:center;
  text-decoration: none;
  left: 10px;
  font-size: 16px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  margin-top: 10px;
  background-image: url("home.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

#history {
  background-color: #F09819;
  border: none;
  color: white;
  padding: 4px 4px;
  text-align:center;
  text-decoration: none;
  left: 10px;
  font-size: 16px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  margin-top: 45px;
  background-image: url("palette.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

#inkLevels {
  background-color: #F09819;
  border: none;
  color: white;
  padding: 4px 4px;
  text-align:center;
  text-decoration: none;
  left: 10px;
  font-size: 16px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  margin-top: 45px;
}

#matrix {
  margin: -50px auto;
  margin-left: -65px;
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
}

#matrix tr, td {
  padding: 5px;
}

input[type=text] {
  width: 200px;
  padding: 20px 20px;
  margin: 15px 0;
  box-sizing: border-box;
  resize: none;
  text-align: center;
  /* background-image: url('Hashtag.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  background-size: 35px 35px; */
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-size: 1em;
  display: inline-block;
  border: none;
  border-radius: 20px;
}

.box{
background-color: white;
width: 120px; /*20% */
height: 120px;
border-color:  white;
border-style: solid;
border-width: 10px 10px 50px 10px; /* 20px top and bottom, 5px on the sides */
padding: 50px;
margin: auto;
align-self: center;
display:inline-block;
vertical-align: middle;
background-image: url('cow.jpeg');
background-size: 100%;
background-repeat: no-repeat;
}

.box #no-background{
  background-image: none;
}
.parent {
text-align: center;
}
.child {
display: inline-block;
padding: 3rem 3rem;
vertical-align: middle;
}


#child1{
  margin-top: 0px;
  }

#child2{
  margin-top: 0px;
}

#child3{
  margin-top: 0px; 
  margin-bottom: 0px;
}

#child4{
  margin-top: 0px; 
  margin-bottom: 0px;
}

h3{
margin-top:245px;
margin-left:5px;
background: white;
color: black;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; 
}

h4{
margin-top: 5px;
color: black;
font-size: 1em;
font-family:'Helvetica', 'Arial', 'Sans-Serif';
font-weight: 200;
}

.btn-grad {background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}
.btn-grad {
 margin: -5px;
 padding: 10px 60px;
 text-align: center;
 text-transform: uppercase;
 transition: 0.5s;
 background-size: 200% auto;
 color: white;            
 box-shadow: 0 0 20px #eee;
 border-radius: 10px;
 display: inline-block;
 border: none;
 font-size: 35px;

 font-family:'Helvetica', 'Arial', 'Sans-Serif';
 font-weight: 300;
}

.btn-grad:hover {
 background-position: right center; /* change the direction of the change here */
 color: #fff;
 text-decoration: none;
}

.btn-grad-transparent {
margin: 10px;
margin-top: 5px; 
padding: 10px 30px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: #FF512F;            
box-shadow: 0 0 20px #eee;
border-radius: 10px;
display: block;
border-color: #FF512F;
background-color: #F2E5D5; 
display:inline-block;
font-family:'Helvetica', 'Arial', 'Sans-Serif';
font-weight: 200;
}

.btn-grad-transparent:hover {
background-position: right center; /* change the direction of the change here */
color: #F09819;
text-decoration: none;
}

.btn-grad2 {background-image: linear-gradient(to right, #56ab2f 0%, #a8e063  51%, #56ab2f  100%)}
.btn-grad2 {
  margin: -5px;
  padding: 10px 60px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: inline-block;
  border: none;
  font-size: 35px;
 
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: 300;
 }

 .btn-grad2:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


.slidecontainer {
width: 100%;
display: inline-block;
}

.slider {
-webkit-appearance: none;
width: 100%;
height: 15px;
border-radius: 5px;
background: white;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
border-radius: 50%;
background: #F09819;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #04AA6D;
cursor: pointer;
}

 @media screen and (min-width: 600px)  {
        .mobile-break { display: none; }

        #child1{
          margin-top: -40px;
          }
        
        #child2{
          margin-top: -40px;
        }
        
        #child3{
          margin-top: -120px; 
          margin-bottom: -72px;
        }
        
        #child4{
          margin-top: -120px; 
          margin-bottom: -72px;
        }
    }

@media  screen and (max-width: 480px) {
    /* This CSS will be applied only to phones and other small devices. */

    h1 {
      font-size: 1em;
    }

    .topnav {
      overflow: hidden;
      font-family:'Helvetica', 'Arial', 'Sans-Serif';
      font-size: 2em;
      padding: 0px;
      list-style: none;
      font-weight: bold;
      display: inline-block;
      text-align: center;  
      margin-top: 23px;
      }

    #matrix {
      margin-left: -25px;
      margin: -20px;
      margin-top: -35px;
    }
    
    #matrix tr, td {
      padding: 0px;
    }
    .button {
      height: 60px;
      width: 40px;
    }

}

@media  screen and (max-width: 320px) {
  /* This CSS will be applied only to phones and other small devices. */

  .topnav {
    font-size: 1.5em;
    margin-top: 30px;
    }

}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  margin-top: 150px;
}

#histModal .modal-content {
width: 25%;
margin-left: 23%;
height: 42.5%;
margin-top: 76px;
}

#startModal .modal-content {
  width: 25%;
  height: 42.5%;
  margin-top: 76px;
  }

  #loadModal .modal-content {
    width: 25%;
    height: 42.5%;
    margin-top: 76px;
    }

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close3 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#hexCode{
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: 200;
}
#hexCode2{
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: 200;
}
#hexCode3{
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: 200;
}
#hexCode4{
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: 200;
}
.loadbar
{
     width:50px;
     height:300px;
     background-color:#e2e5de;
     border:1px solid #ccc;
     position:relative;
     display: inline-block;
     margin-top: 5%;
     margin-right:4%;
     margin-left:4%;
    }
      
.bar
{
    width:100%;
    display:block;        
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 14px;
    color:#000000;       
    position:absolute;
    bottom:0;        
}

#cyan{
  background-color:#00FFFF;
}

#magenta{
  background-color: #FF00FF;
}

#yellow{
  background-color: #FFFF00;
}

#white{
  background-color: #FFFFFF;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #a8e063; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin:20px;
  display:inline-block;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h5{
  margin-top: 3px;
  color: black;
  font-size: 0.8em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: 200;
  }